@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: linear-gradient(90deg, #001b36 0%, #000000 100%);
  --text-primary: #333333;
  --text-sub: #bababa;
  --primary: #0162b9;
  --accent: #001b36;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
